body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    min-height: 100vh
}
h1 {
    text-align: center;
}
/* la transition se met sur l'état de base car elle est partagé avec l'état final. 
Changement de couleur de fond d'un élément avec une durée de 2s et un délai de 1s */ 
.item {
    width: 100px;
    height: 100px;
    background-color:yellowgreen;
    border: 3px solid black;
    transition-duration: 2s;
    transition-delay: 1s;
}
.item:hover {
    background-color: red;
}

/* Déplacement d'un élément avec la propriété translate avec une durée de 2 secondes */
.item-2 {
    width: 200px;
    height: 100px;
    background-color:teal;
    border: 5px solid black;
    transition-duration: 2s;
}

.item-2:hover {
    /* on peut également utiliser translatY pour le déplacement sur l'axe verticale ou 
    utiliser translate(valeur1,valeur2) pour modifier le déplacement sur l'axe horizontale et vertical */
    transform: translateX(300px);
}

/* Rotationd'un élément avec la propriété rotate avec un délai de 2s */
.item-3 {
    width: 100px;
    height: 100px;
    background-color:orange;
    border: 5px solid black;
    /* correspond à 
    transition: <property> <duration> <timing-function> <delay> 
    */
    transition: all 1s linear 0.5s;
}

.item-3:hover {
    /* on peut également utiliser translatY pour le déplacement sur l'axe verticale ou 
    utiliser translate(valeur1,valeur2) pour modifier le déplacement sur l'axe horizontale et vertical */
    transform: rotate(360deg);
}
